<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/login.css")">
		<title> Login </title>
	</head>
	<body>
		<div class = "container">
			<form action = "#" class = "login">
				<ul>
					<li>
						<label>Username</label>
						<input type = "text" name = "username" id = "" placeholder = "Username">
					</li>
					<li>
						<label>Password</label>
						<input type="password" name = "password" id = "" placeholder = "Password">
					</li>
					<li id = "submitButton">
						<input type = "submit" value = "Login">
					</li>
				</ul>
			</form>
		</div>
	</body>
</html>
